.pagina-rende-cond {
    .msg-biscoito {
        font: 600 28px 'Poppins';
        text-align: center;
        margin: 20px;
        font-style: italic;
    }

    .filme {

        .lista {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 40px;
        }
        
        .entrada {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
    }
}